button {
    border: none;
    background: rgb(12, 76, 190);
    background: linear-gradient(
        34deg,
        rgba(12, 76, 190, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
    font-weight: 600;
    padding: 12px 17px 12px 17px;
    font-size: 12pt;
    border-radius: 4px;
    outline: none;
    color: #ffffff;
    font-size: 14pt;
    letter-spacing: 0.1em;
    cursor: pointer;
}

button:disabled {
    background-color: #4a4a4a;
}
button:hover {
    background-color: #3f99fc;
}

button:active {
    background-color: #044c9b;
}

.centeredButton {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 60px;
}

.gameButton {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
    height: 90px;
}

#skipButton {
    background: #f26b5a;
}
#skipButton:active {
    background: #bf5447;
}
#skipButton:disabled {
    background: #4a4a4a;
}

#skipsLeft {
    text-align: center;
    margin-top: 10px;
    color: #52352a;
}
