button {
    border: none;
    background-color: #368ddd;
    font-weight: 600;
    padding: 12px 17px 12px 17px;
    font-size: 12pt;
    border-radius: 4px;
    outline: none;
    color: #ffffff;
    font-size: 14pt;
    letter-spacing: 0.1em;
    cursor: pointer;
}

button:disabled {
    background-color: #4a4a4a;
}
button:hover {
    background-color: #5ba5e8;
}

button:active {
    background-color: #357cbc;
}

.centeredButton {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 60px;
}

.gameButton {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
    height: 90px;
}

.redButton {
    background: #f26b5a;
}
.redButton:hover {
    background: #f48078;
}
.redButton:active {
    background: #bf5447;
}
.redButton:disabled {
    background: #4b4a4a;
}

.blueButton {
    background: #368ddd;
}
.blueButton:hover {
    background: #5ba5e8;
}
.blueButton:active {
    background: #357cbc;
}
.blueButton:disabled {
    background: #4b4a4a;
}

#skipsLeft {
    text-align: center;
    margin-top: 10px;
}
