.inputControlPanel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    display: table;
}
#gameInputPreview {
    font-size: 1.3em;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    font-weight: 600;
    vertical-align: middle;
}

#roundInputPreview {
    font-size: 1.3em;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 2px;
    font-weight: 600;
}

.downButton {
    background-color: #f26b5a;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    font-weight: 600;
}

.upButton {
    background-color: #368ddd;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    font-weight: 600;
}
